[Unit]
Description=Todo Service
[Service]
Environment=REDIS_HOST=172.31.29.255
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo

[Install]
WantedBy=multi-user.target
