[Unit]
Description=Todo Service
[Service]
Environment=REDIS_HOST=172.31.24.50
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo

[Install]
WantedBy=multi-user.target
